# 查看 https://help.github.com/articles/ignoring-files/ 了解更多关于忽略文件的信息

# 依赖
/node_modules
/.pnp
.pnp.js

# 测试
/coverage

# 数据库
/prisma/db.sqlite
/prisma/db.sqlite-journal
db.sqlite

# next.js
/.next/
/out/
next-env.d.ts

# 生产环境
/build

# 杂项
.DS_Store
*.pem

# 调试
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# 本地环境文件
# 不要提交任何.env文件到git，除了.env.example文件。 https://create.t3.gg/en/usage/env-variables#using-environment-variables
.env
.env*.local
.env-e

# vercel
.vercel

# typescript
*.tsbuildinfo

# idea文件
.idea

__pycache__/
venv

# vscode
.vscode/